// custom Palette
$color-primary: #5c9ded;    // blue
$color-secondary: #b48bff;  // lilac
$color-danger: #ff5a5f;     // alert Red
$color-gray-light: #f8f9fa; // light gray
$color-white: #ffffff;      // white
$color-dark: #333;          // dark Text