<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    <div class="container p-4">
        <!-- Product Name -->
        <div class="row mb-4">
            <div class="col">
                <label for="titleFormControlInput" class="form-label fw-bold">Product Name
                    <span class="text-danger fw-light">*required</span>
                </label>
                <input type="text" class="form-control" id="titleFormControlInput" name="title" placeholder="Product Name" ngModel required>
            </div>
        </div>

        <!-- Category -->
        <div class="row mb-4">
            <div class="col">
                <label for="categoryFormControlInput" class="form-label fw-bold">Category
                    <span class="text-danger fw-light">*required</span>
                </label>
                <input type="text" class="form-control" id="categoryFormControlInput" name="category" placeholder="Category" ngModel required>
            </div>
        </div>

        <!-- Price -->
        <div class="row mb-4">
            <div class="col">
                <label for="priceFormControlInput" class="form-label fw-bold">Price
                    <span class="text-danger fw-light">*required</span>
                </label>
                <!-- input price -->
                <input type="number" class="form-control" id="priceFormControlInput" name="price" placeholder="0.00" [(ngModel)]="price" (blur)="formatPrice()" *ngIf="showInputPrice" required>
                <!-- formatted output price -->
                <input type="text" class="form-control" id="priceFormControlOutput" name="price" placeholder="0.00" ngModel [(ngModel)]="priceFormatted" (click)="formatPrice()" *ngIf="!showInputPrice"  required>
            </div>
        </div>

        <!-- Employee Details -->
        <div class="row mb-4 align-items-end">
            <div class="col">
                <label for="employeeNameFormControlInput" class="form-label fw-bold">Employee</label>
                <input type="text" class="form-control" id="employeeNameFormControlInput" name="employeeFirstName" placeholder="First name" ngModel>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="employeeSurnameFormControlInput" name="employeeLastName" placeholder="Last name" ngModel>
            </div>
        </div>

        <!-- Description -->
        <div class="row mb-4">
            <div class="col">
                <label for="descriptionFormControlInput" class="form-label fw-bold">Description</label>
                <textarea class="form-control" id="descriptionFormControlInput" name="description" placeholder="product description..." rows="4" ngModel></textarea>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row text-center">
            <div class="col">
                <button type="submit" class="btn btn-lilac fw-bold w-100">
                    Add Product
                </button>
            </div>
        </div>
    </div>
</form>