@use "../../styles/colors.scss" as *;

.product-card {
  min-width: 300px;
  border-radius: 8px;
  border: 2px solid $color-secondary;
  background: $color-gray-light;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
  }
}

.description-box {
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: auto;
  font-size: 0.9rem;
  color: $color-dark;
}

.product-card-height-grid {
  height: 420px;
}

.product-card-height-panel {
  height: 300px;
}

.description-box-max-height-grid {
  max-height: 200px;
}

.description-box-max-height-panel {
  max-height: 80px;
}

// in case of too small screen the cards are on a single line even if the layout is grid
// so let's resize them
@media (max-width: 767px) {
  .product-card {
    height: 300px !important; 
  }
  .description-box {
    max-height: 80px !important;
  }
}

.card-footer {
  text-align: center;
  background: transparent;
  border-top: none !important; // remove the top border
}

.footer-text {
  display: inline-block; // allows scaling
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.1); // enlargement
  }
}

.edit-btn,
.delete-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  width: 32px;
  height: 32px;

  &:hover {
    transform: scale(1.2);
  }
}