<div *ngIf="product">
    <div class="card product-card shadow-lg p-3">
        <!-- delete product button -->
        <button type="button" class="position-absolute top-0 end-0 m-2 delete-btn" aria-label="Close" (click)="onDelete()">
            <img src="assets/delete.png" alt="Delete" class="delete-icon">
        </button>
            
        <!-- body card -->
        <div class="card-body">
        <h5 class="card-title text-lilac">{{ product.data.title }}</h5>
        <div class="card-subtitle text-muted">Category: {{ product.data.category }}</div>
        <div class="card-text fw-bold">Price: {{ product.data.price | currency }}</div>
        <div class="card-text fw-medium">Employee: <span class="text-lilac">{{ product.data.employee || 'Not assigned' }}</span></div>
        <div class="description-box mt-3">
            {{ product.data.description || 'No description available' }}
        </div>
        </div>

        <!-- footer -->
    <div class="card-footer text-center no-border">
        <span class="footer-text text-lilac" (click)="onShowReviews()">Show Reviews</span>
    </div>

    </div>
</div>