@use "../../styles/colors.scss" as *;

.product-card {
  height: 420px;
  min-width: 300px;
  border-radius: 8px;
  border: 2px solid $color-secondary;
  background: $color-gray-light;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
  }
}

.description-box {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-height: 200px;
  overflow-y: auto;
  font-size: 0.9rem;
  color: $color-dark;

  // custom Scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-secondary;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
}

.card-footer {
  text-align: center;
  background: transparent;
  border-top: none !important; // removes the top border
}

.footer-text {
  display: inline-block; // allows scaling
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.1); // enlargement
  }
}

.edit-btn, .delete-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.edit-icon, .delete-icon {
  width: 32px;
  height: 32px;

  &:hover {
    transform: scale(1.2);
  }
}
