@use "../src/app/styles/colors.scss" as *;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-lilac {
    color: $color-secondary;
}

// custom Scrollbar
.scrollable-content::-webkit-scrollbar {
    width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: $color-secondary;
    border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-track {
    background: #f0f0f0;
}

// remove stepper
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
