<app-navbar (openModalAddProductEvent)="toggleAddProductModal($event)"
            (toggleLayoutEvent) ="toggleLayout($event)"
            [currentlayout] = "layout">
</app-navbar>

<app-product-list [products]="products" [layout]="layout"></app-product-list>

<!-- modal add product -->

<div class="modal fade modal-lg" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="w-100 text-center">
                    <h1 class="modal-title fs-5 " id="addProductModalLabel">Add Product</h1>
                </div>
                <button id="addProductModalCloseButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-add-product (closeModalAddProductEvent)="toggleAddProductModal($event)" ></app-add-product>
            </div>
        </div>
    </div>
</div>