<app-navbar (openModalAddProductEvent)="toggleAddProductModal($event)"
            (toggleLayoutEvent) ="toggleLayout($event)"
            [currentlayout] = "layout">
</app-navbar>

<app-product-list [products]="products" [layout]="layout"></app-product-list>

<!-- modal add product -->
 <div class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50" 
    *ngIf="isModalOpen" (click)="onOverlayClick($event)">
  <div class="custom-modal-content bg-white	p-4 rounded-3" (click)="stopPropagation($event)">
    
    <div class="modal-header text-center">
            <h1 class="modal-title fs-5 w-100">Add Product</h1>
            <button type="button" class="btn-close"  aria-label="Close" (click)="closeModal()"></button>
    </div>

    <div class="custom-modal-body">
        <app-add-product (closeModalAddProductEvent)="toggleAddProductModal($event)" ></app-add-product>
    </div>

  </div>
</div>

